<a href="https://colab.research.google.com/github/9645258/aiffel/blob/main/02_goingdeeper/01_nlp/%5BGD-08%5Dnlp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 00

In [ ]:
!sudo apt-get install g++ openjdk-8-jdk

Reading package lists... Done
Building dependency tree
Reading state information... Done
g++ is already the newest version (4:7.4.0-1ubuntu2.3).
openjdk-8-jdk is already the newest version (8u312-b07-0ubuntu1~18.04).
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'sudo apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 71 not upgraded.

In [ ]:
!bash <(curl -s https://raw.githubusercontent.com/konlpy/konlpy/master/scripts/mecab.sh)

mecab-ko is already installed
mecab-ko-dic is already installed
mecab-python is already installed
Done.

In [ ]:
!pip install konlpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: konlpy in /usr/local/lib/python3.7/dist-packages (0.6.0)
Requirement already satisfied: numpy>=1.6 in /usr/local/lib/python3.7/dist-packages (from konlpy) (1.21.6)
Requirement already satisfied: lxml>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (4.2.6)
Requirement already satisfied: JPype1>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (1.4.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from JPype1>=0.7.0->konlpy) (4.1.1)

# **GD NLP 08 : Seq2seq으로 번역기 만들기**

- **한영 번역기 만들기**  

- **번역기 모델 학습에 필요한 텍스트 데이터 전처리가 한국어 포함하여 잘 이루어졌다.**  
구두점, 대소문자, 띄어쓰기, 한글 형태소분석 등 번역기 모델에 요구되는 전처리가 정상적으로 진행되었다.  

- **Attentional Seq2seq 모델이 정상적으로 구동된다.**  
seq2seq 모델 훈련 과정에서 training loss가 안정적으로 떨어지면서 학습이 진행됨이 확인되었다.  

- **테스트 결과 의미가 통하는 수준의 번역문이 생성되었다.**  
테스트용 디코더 모델이 정상적으로 만들어져서, 정답과 어느 정도 유사한 영어 번역이 진행됨을 확인하였다.

## **1. 데이터 준비**

### **1-1. 라이브러리 import**

In [ ]:
import re
import os
import io
import random
import tarfile
import numpy as np
import pandas as pd
from tqdm import tqdm
import tensorflow as tf
from konlpy.tag import Mecab

import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import matplotlib.font_manager as fm

### **1-2. 데이터 import**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

- **폰트 경로 설정**

In [ ]:
fontpath = '/content/drive/MyDrive/Colab Notebooks/aiffel/01_data/ROKAF Sans Bold.ttf'
font = fm.FontProperties(fname = fontpath)
plt.rc('font', family='ROKAF Sans')
mpl.font_manager.findfont(font)
%config InlineBackend.figure_format = 'retina'

- **국문 및 영문 train 데이터 import**

In [ ]:
path_to_en = "/content/drive/MyDrive/Colab Notebooks/aiffel/01_data/02-1_nlp/08/korean-english-news-v1/train/korean-english-park.train.en"
path_to_ko = "/content/drive/MyDrive/Colab Notebooks/aiffel/01_data/02-1_nlp/08/korean-english-news-v1/train/korean-english-park.train.ko"

In [ ]:
with open(path_to_ko, "r") as f:
    kor_raw = f.read().splitlines()

In [ ]:
with open(path_to_en, "r") as f:
    eng_raw = f.read().splitlines()

### **1-3. 데이터 확인**

- **데이터 수 확인**

In [ ]:
print('국문 train 데이터 수:', len(kor_raw))
print('영문 train 데이터 수:', len(eng_raw))

국문 train 데이터 수: 94123
영문 train 데이터 수: 94123

- **데이터 확인**

In [ ]:
print('국문 train 데이터:\n', random.sample(kor_raw, 30))
print('\n')
print('영문 train 데이터:\n', random.sample(eng_raw, 30))

국문 train 데이터:
 ['중국이 2008년 베이징 올림픽 성화봉송과 관련, 성화 봉송로에 대만을 포함시키며 “중국의 다리”라는 표현을 써 대만과 정치적인 마찰을 빚고 있다.', 'initially 처음에, 첫머리에', "홍콩 영화 '무간도'를 미국판으로 리메이크한 '사자(死子)들'은 레오나르도 디카프리오가 보스톤 범죄 조직 그늘 밑의 경찰로, 맷 데이먼이 야비한 갱으로, 잭 니콜슨이 모든 이들을 배후 조종하는 무자비한 갱 두목으로 등장한다.", '중국의 가족계획정책이 기혼자들의 1가구 1자녀 정책을 무시하면서 “인구 재팽창” 국변을 맞고 있다.', '베이징 공항에서 중국 여행객들은 힐 대표의 사진을 찍으려고 몰려들기도 한다고 이름을 밝히지 않은 힐 대표의 한 경호원이 말했다.', '그는“미움이나 악의로 영화를 제작할 수 없고 아무런 악감정도 이 영화에 반영되지 않았다”며 “부시의 정치를 싫어하지만 이상하고 엉뚱한 어색한 방법으로 마음을 끌어당겨 미국의 마음을 사로 잡았던 부시가 영화배우 존 웨인과 더 닮았다는 것을 알고 있다”고 말했다.', '농민들의 파업이 이어지며 크리스티나 페르난데스 아르헨티나 대통령 정부는 난관에 봉착했다.', '시라크는 "이란이 어느 곳에 핵무기를 떨어뜨릴 것인가.', '최근 조지 부시 미국 대통령이 이스라엘과 팔레스타인을 순방했으며 그의 순방일정 3일째, 중동평화회담과 관련한 이 같은 발표가 있었다.', '지난해 6월 이후 아기 엄마가 된 데이븐포트(31)는 개인적인 사정으로 대회에 참여하지 못한다고 밝혔다.', '이번 사고는 MBC 지역 방송국에서 주최한 콘서트를 보기 위해 5천여 명의 시민이 기다리고 있던 운동장 입구에서 벌어졌다.', '영국 석간 이브닝 스탠더드는 매들린과 얼굴이 비슷한 사진의 소녀는 인근 올리브 농장주의 딸이라고 설명했다.', '박태환은 한국인으로는 처음 올림픽을 제외한 국제 수영 대회에서 메달을 땄다.', '또 10명 중 1명은 계속된 휴대폰 사용으로 다른 사람들로부터 비난을 받을 적이 있다고 말했다.', '세상을 바꾼 10가지 생각', '홍역-이하선염-풍진(measles-mumps-rubella, MMR）백신은 어린이는 반듯이 접종해야하며 성인도 재 접종해야 한다.', '롤링스톤스의 기타리스트인 키스 리차드(63)는 이달초 스웨덴에서 열린 자신들의 콘서트를 혹평한 현지언론에 대해 공식적으로 사과를 요청했다.', '홍콩 닭장 아파트 생활', '18~29세의 젊은층 유권자 중 61%는 오바마 후보에 투표했다고 밝혔으며 클린턴을 선택했다는 유권자의 비율은 39%로 밝혀졌다.', '제이미 린은 알드리지(19)와 미시시피 주 남부 소도시인 리버티 인근에서 동거하면서 자주모습을 드러냈으며 그의 임신 사실이 더 확실해 졌다.', '여기 운 좋게 근사하고 적절한 숙박비의 호텔 예약 숙제를 해결했다.', '차이사엥은 “혼란스러운 분도 있고 실망스러워하는 당원도 있다”며 “그러나 지금은 인내심과 신중함이 필요한 시점이고 언젠가는 해결책이 나올 것”이라고 덧붙였다.', '테넌트 서장은 “브래지어와 팬티의 주인을 찾는 것이 걱정"이라며 "2명의 여성이 체평이 특이해 이를 기초로 그를 이번 절도 사건에 연루 시킬 수 있었다”고 말했다.', '응답자 중 29퍼센트는 한국을 2년 내에 방문하고 싶은 곳으로 꼽았다.', '여당의 당수는 자동적으로 총리직에 오른다.', '“그가 이른바 미국 상원의석을 판매하려고 했던 혐의, 법안 통과에 대한 불법선거자금 수수, 시카고 소재 주요 어린이병원에 대한 의료보험금 지급 거부, 시카고트리뷴의 논설위원 해고 이외에도 지금부터 그가 행하는 모든 일들이 부패로 얼룩질 것이라는 심각한 우려를 낳고 있습니다.”', '한편 케냐에서 가장 오래된 신문인 헤럴드는 2일 사무엘 기부투 중앙선거관리위원회 의장이 누가 이번 총선에서 당선됐는지 모른다고 말한 사실을 보도했다.', '심한 강풍이 불고, 비도 오면서 상대적으로 피해가 더 발생할 수도 있겠습니다.”', '‘이슬람 마그레브 알카에다’는 또 “순교자가 타깃에 도달하는데 실패했다”며 “그는 비상 경계선 앞 에서 폭탄을 터뜨리는 방법을 택했다”고 밝혔다.', 'Japan accusing Korea infringed technology patents 일본, 한국 기술 특허 시비\xa0 \xa0 \xa02005.08']


영문 train 데이터:
 ['"Kind of don\'t have to worry about that now," he said.', 'But the Mayor is now 16 years old, and nearing his end.', 'He said if the newspaper continues to publish malicious reports about the Korean prosecution, he would file a compensation suit.', "He is also due to hold talks with Putin's successor-elect, Dmitry Medvedev, who is due to replace Putin next month and is expected to appoint his predecessor as prime minister.", "Arirang's director Lee said he wasn't overly concerned about being kidnapped when he visited the North for a week last year.", '"It can be confirmed that Tony Blair has been received into full communion with the Catholic Church by Cardinal Cormac Murphy-O\'Connor," the head of the church in England and Wales, the church said in a statement.', 'There have been 20 such fires this year in the Philadelphia suburb.', 'As a result, Virginia also is attracting more tourists to partake in wine tastings, local cuisine and stays at nearby inns.', 'Of those who voted for Barack Obama, 42 percent said they would be satisfied if Hillary Clinton was the nominee, according to the exit polls.', 'The spy agency said it considers the cyber attack a ``grave threat’’ to the national security.', 'Some penguins are still being cared for, both in the north and south of Brazil.', 'The successful launch made South Korea the 37th country to send a person into space and second from Asia.', 'Space shuttle Discovery and a crew of seven rocketed into orbit Tuesday in pursuit of the international space station, where a formidable construction job awaits them. Discovery blasted off at 11:38 a.m., ducking through clouds.', 'Australia has experienced some success in under-age tournaments and another factor likely to build the strength of the lads from Down Under is their World Cup bid for 2018.', 'Flying with the flu?', 'Flakey forecasters promise cash...', 'There have been some fears that the arrival of the Olympic torch could even spark violent protests against China, but there has been no talk of banning the torch by national Olympic committees.', 'Iraq which has about a 60 percent Shiite population is also made up of Sunni Arabs, Kurds, Turkmens, Christians and others.', 'And the differences between brain volumes in drinkers and nondrinkers were quite small', 'And every immigrant, by embracing these ideals, makes our country more, not less, American.', 'Living in a cage in Hong Kong', "Last weekend's election presents the most formidable challenge to Robert Mugabe's 28 years of rule in Zimbabwe.", 'Police confirm they have taken a person into custody but are not saying who.', 'Authorities found the Maple Valley woman after detecting the general location of her cell phone Thursday morning, then searching along Highway 169 near Renton, southeast of Seattle, the route she took home from work.', 'Among the Republicans, John McCain and Mitt Romney appear to be the frontrunners, with both seeking a morale-boosting victory after rival Mike Huckabee claimed victory in Iowa.', '(male voice)“ The top priority right now is getting the economy out of the ditch.”', 'Witnesses said rioters were setting fire to buildings in protest at the result,', '400 foreign nationals left on Saturday and another 400 were slated to leave on Sunday.', "Elektra's history dates back to 1950, when a 19-year-old Holzman founded the record company in his dorm room at St. John's College in Annapolis, Maryland.", 'Andy Roddick overcame a second-set lapse and beat fourth-seeded Nikolay Davydenko 6-3 4-6 6-2.']

### **1-4. 데이터 병합**

- **국문/영문 데이터 수가 같으므로 한개의 데이터셋으로 변환**

In [ ]:
dataset = pd.DataFrame(zip(kor_raw, eng_raw), columns = ["kor", "eng"])

- **데이터 확인**

In [ ]:
dataset.sample(10)

,kor,eng
72362,이는 체코 출신 예술가 데이비드 서니가 만든 논란의 여지가 많은 설치 예술작품에 따...,That's the view of the European Union accordin...
92523,"Biden, Palin Go Toe to Toe on the Issues 용호상박의...",The head of the FDIC says the agency is standi...
48870,하지만 6자회담은 2년여간 교착 상태에 빠졌으며 북한은 지난 10월 9일 핵실험을 ...,"But the talks have been stalled for two years,..."
92608,“ 3월 말이라는 점을 감안할 때 꽤 많은 양의 눈입니다.,"“ Pretty heavy snow, especially considering it..."
41323,유니버셜 익스프레스는 이번 경매 물품을 배카로로부터 500만 달러(약 50억원)에 ...,Universal bought the items from Vaccaro for $5...
18596,지난해부터 계속된 호우와 지난 몇 주간 볼리비아를 강타한 폭풍으로 볼리비아 전역에서...,"LA PAZ, Bolivia (CNN) President Evo Morales de..."
49272,노왁의 변호사인 도널드 리케박은 판사가 살인 미수혐의에 대해 증명할 수 있는 요인을...,"Her attorney, Donald Lykkebak, argued the judg..."
64021,[동영상]추신수 스리런 홈런 작렬!,Korea to double African aid by ...
89597,원문 & 독해설명 인쇄,The protesters later joined the anti-impeachme...
79324,Majority expect Roh’s proposal to be thwarted ...,A report released by the Information Ministry ...

### **1-5. 중복 데이터 및 결측치 확인**

- **데이터 정보 확인**  
결측치 없음

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94123 entries, 0 to 94122
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   kor     94123 non-null  object
 1   eng     94123 non-null  object
dtypes: object(2)
memory usage: 1.4+ MB

- **중복 데이터 확인 및 삭제**

In [ ]:
print("train 데이터 수:", len(dataset))

dup_data = dataset.duplicated()
dup_data = dup_data.value_counts()
print("중복 train 데이터 수:", dup_data[True])

dataset.drop_duplicates(inplace = True)
print("최종 train 데이터 수:", len(dataset))

train 데이터 수: 94123
중복 train 데이터 수: 15155
최종 train 데이터 수: 78968

### **1-6. 데이터 문장 길이 확인**

In [ ]:
def show_sentence_length(sentence_num, title, range_=[0, 500]):
    plt.figure(figsize=(13, 5))
    plt.suptitle(title, fontsize=14)
    
    plt.subplot(1, 2, 1)
    plt.hist(sentence_num, bins=range_[1], range=range_, facecolor='b', label='train')
    plt.xlabel('Number of question')
    plt.ylabel('Count of question')
    
    plt.subplot(1, 2, 2)
    plt.boxplot(sentence_num, labels=['token counts'], showmeans=True)

    plt.show()
    
    print("< Sentence Info >".center(100, "="))
    print(f"길이 최대:    {np.max(sentence_num):4d}")
    print(f"길이 최소:    {np.min(sentence_num):4d}")
    print(f"길이 평균:    {np.mean(sentence_num):7.3f}")
    print(f"길이 표준편차: {np.std(sentence_num):7.3f}", end="\n\n")
    
    percentile25 = np.percentile(sentence_num, 25)
    percentile50 = np.percentile(sentence_num, 50)
    percentile75 = np.percentile(sentence_num, 75)
    percentileIQR = percentile75 - percentile25
    percentileMAX = percentile75 + percentileIQR * 1.5
    
    print(f" 25/100분위:  {percentile25:7.3f}")
    print(f" 50/100분위:  {percentile50:7.3f}")
    print(f" 75/100분위:  {percentile75:7.3f}")
    print(f" MAX/100분위: {percentileMAX:7.3f}")
    print(f" IQR: {percentileIQR:7.3f}")
    print("=" * 100)